/AlphabeticalOrder.class
/CharOccurance.class
/CompairTwoStrings.class
/ConvertToUpper.class
/CountElementsString.class
/CountVowelConso.class
/DeleteChar.class
/EleminateSpl.class
/FindLength.class
/MaxMinOccerance.class
/NamesStart.class
/Percentage.class
/ReplaceSubString.class
/ReplaceWithPrev.class
/ReverseLength.class
/SeperateToChar.class
/WordByWord.class
/WordInString.class
