/AddFirstLast.class
/AddOddEvenDig.class
/Armstrong.class
/ArmstrongNo.class
/ArraySum.class
/ArrayToArray.class
/BigDigit.class
/BiggestAmongTwo.class
/DeseArray.class
/DivisibleBy.class
/DupliEle.class
/EqualNo.class
/Fact.class
/Fib.class
/HCF.class
/HappyNo.class
/LCM.class
/LargestSmallestInArr.class
/LeapYear.class
/NEven.class
/NPrimeNo.class
/NoOfOccur.class
/NperfectNo.class
/OddEvenArray.class
/PassOrFail.class
/Pattern1.class
/Pattern10.class
/Pattern11.class
/Pattern12.class
/Pattern13.class
/Pattern14.class
/Pattern15.class
/Pattern2.class
/Pattern3.class
/Pattern4.class
/Pattern5.class
/Pattern6.class
/Pattern7.class
/Pattern8.class
/Pattern9.class
/Patterns16.class
/PerfectMN.class
/PerfectNo.class
/PosOrNeg.class
/PrimeNoBtwMN.class
/PrintEvenNo.class
/PrintPrimeNo.class
/ReverseArr.class
/ReverseNo.class
/Series1.class
/Series2.class
/Series3.class
/Series4.class
/Series5.class
/Series6.class
/SmallestTernary.class
/SqureRoot.class
/SumNatural.class
/SumOfAlt.class
/SumOfDig.class
/SumOfEven.class
/UpperOrLowerOrSpecial.class
/freqOfNo.class
